@charset "utf-8";

body {
min-width: 0;
background: none;
}
body:before {
content: "";
display: block;
position: fixed;
top: 0;
left: 0;
right: 0;
width: 100%;
height: 100%;
background-image: url(./img/img_bg1_sp.jpg);
background-repeat: no-repeat;
background-position: top center;
background-size: cover;
z-index: -1;
}
body.ad-df:before {
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
right: 0;
width: 100%;
height: 100%;
background-image: url(./img/img_bg1_sp.jpg);
background-repeat: no-repeat;
background-position: top center;
background-size: cover;
z-index: -1;
-webkit-transform: translate3d(0, 0, 0px);
transform: translate3d(0, 0, 0px);
}
h1, h2, h3, h4, h5, h6, dl, dt, dd, p, blockquote, ul, ol, li, span {
font-size: 12px;
line-height: 1.8;
text-align: left;
}
a:active, a:hover {
opacity: 1;
}

.pc-obj {
display: none;
}
.sp-obj {
display: block;
}

.col2 {
display: block;
}
.col2 .left-box {
width: 100%;
display: block;
}
.col2 .right-box {
width: 100%;
display: block;
}

/* アコーディオン */
.acd-head .acd-btn {
padding: 16px 34px;
font-size: 24px;
width: 100%;
box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
}
.acd-head .acd-btn:hover {
box-shadow: 0 4px 0 rgba(0, 0, 0, 0.2);
color: #fff;
background: #2846A0;
}
.acd-head .acd-btn::after {
width: 16px;
height: 16px;
right: 8px;
}
.acd-head .acd-btn:hover::after {
border-top: solid 2px #fff;
border-right: solid 2px #fff;
}

/* コンテンツ */
.inner {
margin: 0;
padding: 0 5%;
width: 100%;
}
.inner h2 {
font-size: 36px;
line-height: 1.5;
}

.contents-wrap {
padding-top: 0;
z-index: 1;
}
.contents-wrap small {
font-size: 12px;
}
.contents-area {
margin: 0;
width: auto;
}
.contents-area h3 {
font-size: 18px;
line-height: 1.5;
}
.contents-area h4 {
font-size: 14px;
}

/* ヘッダー */
.header-wrap {
background-color: transparent;
position: fixed;
top: 0;
right: 0;
width: 80px;
height: 50px;
z-index: 4;
}
.header-main {
display: block;
position: relative;
padding: 0;
height: 50px;
background-color: transparent;
border-bottom: none;
}
.header-main .inner {
padding: 0 15px;
}
.header-logo {
display: none;
background-image: none;
}
.header-logo img {
display: none;
}
.sp-menu-btn {
position: absolute;
top: 7px;
right: 10px;
display: block;
padding: 9px 8px;
width: 60px;
height: 35px;
background-color: transparent;
z-index: 2;
}
.sp-menu-btn span {
display: block;
margin-bottom: 3px;
height: 4px;
background-color: #aaa;
border-radius: 3px;
-webkit-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;
}
.m-op .sp-menu-btn span:nth-of-type(1) {
background-color: #fff;
-webkit-transform: translateY(8px) translateX(0) rotate(45deg);
transform: translateY(8px) translateX(0) rotate(45deg);
}
.m-op .sp-menu-btn span:nth-of-type(2) {
opacity: 0;
background-color: #fff;
-webkit-transform: translateY(9px);
transform: translateY(9px);
}
.m-op .sp-menu-btn span:nth-of-type(3) {
background-color: #fff;
-webkit-transform: translateY(-6px) translateX(0) rotate(-45deg);
transform: translateY(-6px) translateX(0) rotate(-45deg);
}
.smenu ul {
position: static;
}
.smenu:hover ul {
display: none;
}
.header-nav {
height: 0;
background-color: transparent;
border-bottom: none;
}
.header-nav .inner {
width: 100%;
}
.header-img {
height: 500px;
}
.header-img p {
font-size: 24px;
padding: 0 5px;
}
.header-menu-box {
position: fixed;
width: 100%;
top: 0;
bottom: 0;
right: -100%;
overflow: auto;
-webkit-overflow-scrolling: touch;
background-color: transparent;
}
.menu-main {
padding-top: 50px;
}
.menu-main > li {
display: block;
text-shadow: none;
padding: 0;
border-right: none;
border-bottom: 1px solid #ccc;
}
.menu-main > li:first-child {
border-top: 1px solid #ccc;
border-left: none;
}
.menu-main > li a {
color: #fff;
text-align: center;
border: none;
width: 100%;
padding: 8px;
}
.overlay {
display: none;
background-color: rgba(0,0,0,0.8);
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: 3;
}
#HEADER_MENU {
min-height: 0;
}

/* top */
#PAGE00 {
height: 500px;
}
#PAGE00 .inner h2 img {
width: 100%;
}

/* Profile */
.profile {
margin-top: 0;
}

.profile ul.profile-list span.title {
width: 100px;
padding-right: 10px;
font-size: 14px;
}
.profile ul.profile-list span.tx {
font-size: 16px;
}

.profile ul.profile-list .tx a:hover {
color: #fff;
text-decoration: underline;
}

/* History */
.contents-wrap .history-list li {
margin: 0 0 16px;
}
.history-box .history-tbl {
padding: 8px 0 8px 16px;
}
.history .history-list .history-box p.date {
font-size: 16px;
}
.history .history-list .history-box p.history-tbl {
padding: 5px 0 5px 10px;
font-size: 14px;
}
.history-box .history-tbl p {
margin-bottom: 12px;
}
.history-box .history-tbl p i {
display: block;
margin-left: 0;
}

/* Skill */
.skill dl {
background: transparent;
border-top: none;
}
.skill dl:last-child {
border-bottom: none;
}
.skill dl dt {
border-left: 4px solid #4f5253;
width: 100%;
float: none;
font-size: 20px;
text-align: left;
padding-left: 5px;
}
.skill dl dd {
margin-left: 0;
padding: 5px 5px 5px 15px;
font-size: 16px;
background-color: #2b2f30;
}
.skill dl dl {
display: inline-block;
background-color: #2b2f30;
vertical-align: top;
border-bottom: none;
padding: 10px 0;
}
.skill dl dl:first-child {
border-top: none;
}
.skill dl dl dt {
background: #4f5253;
display: block;
padding: 0 0 0 5px;
width: 80%;
font-size: 16px;
margin-bottom: 10px;
}

/* Works */
.works h3 {
font-size: 16px;
padding: 16px 0 8px;
}
.works h3 a .comp-name {
font-size: 14px;
text-align: center;
}
.works article {
box-shadow: 0px 8px rgba(0, 0, 0, 0.1);
}
.works .col2 .left-box {
height: 300px;
}
.works .right-box .cnt-box dl dt {
width: 90px;
font-size: 12px;
}
.works .right-box .cnt-box dl dd {
margin-left: 90px;
font-size: 14px;
padding: 5px 16px
}

.works .cnt-box .tx {
font-size: 14px;
}

/* Info */
.info .btn-box a {
font-size: 16px;
margin: 8px auto 48px;
padding: 24px 0;
width: 100%;
}
.info .btn-box a:hover {
background: #2846A0;
}

.sns-icon-area ul li a {
width: 48px;
height: 48px;
}
.sns-icon-area ul li a.facebook {
background-size: 40px;
background-color: #315096;
border: 1px solid #315096;
}
.sns-icon-area ul li a.youtube {
background-size: 40px;
background-color: #cd201f;
border: 1px solid #cd201f;
}
.sns-icon-area ul li a.instagram {
background-size: 40px;
background-color: #3f729b;
border: 1px solid #3f729b;
}
.sns-icon-area ul li a.pixiv {
background-size: 40px;
background-color: #0197dd;
border: 1px solid #0197dd;
}
.sns-icon-area ul li a.twitter {
background-size: 40px;
background-color: #55acee;
border: 1px solid #55acee;
}

/* フッター */
footer .inner {
padding: 0 1%;
}
.pagetop a {
width: 50px;
height: 50px;
background-size: 30px;
}
.pagetop a:hover {
background-color: rgba(0,0,0,.8);
}